@{
    ViewBag.Title = "About";
}
<div class="hero-unit">
    <h2>About</h2>
    <p>This site was created specifically for the test job. If you are satisfied, then I will wait for a call from you to number
        <strong>+7 (904) 301 .. .. </strong>
    </p>
</div>
